:root {
  --black: #324A51;
  --hover: #00A7D7;
  --blue: #2BADC7;
  --blueDark: #007891;
  --shadow: rgba(50,74,81, 0.5);
  --link: #3CD5B7;
  --white: #E6F4F1;
  --focus: #3CD5B7;
  --grey: #95B0B7;
  --light_grey: #f0f4f5;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
/* heading font */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Ad panel fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  color: var(--black);
  margin: 0;
  height: 100%;
}



.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr auto auto auto auto;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-areas: 
  "nav nav nav nav nav"
  "header header header header header"
  "money article article article article"
  "footer footer footer footer footer";
  grid-gap: 0.2rem;
}

/* Hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--blue);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
ul >li {
  padding-bottom: 5px;
}

/* TOP NAVIGATION */

 /* Add a black background color to the top navigation */
 .navMain {
  background-color: var(--blue);
  overflow: hidden;
  grid-area: nav;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.navMain a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: var(--grey);
  color: white;
}

/* Hide the link that should open and close the navMain on small screens */
.navMain .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the navMain */
.dropdown .dropbtn {
  font-size: 17px;  
  text-transform: uppercase;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px var(--shadow);
  background-color: var(--white);
  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navMain a:hover, .dropdown:hover .dropbtn {
  background-color: var(--hover);
  color: var(--black);
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* END TOP NAVIGATION */

section a:visited {
  color: inherit;
}
section a:hover {
  color: var(--hover);
}

header {  
  grid-area: header;
  font-family: 'Russo One', sans-serif;
  align-items: center;
  padding-left: 20px;
  text-align: center;
  margin-top: 0px;
}

header h1 {
  font-size: 5rem;
  color: var(--blue);
  text-shadow: 2px 2px 4px var(--black);
  font-weight: 600;
  padding-bottom: 5px;
  margin: 0px;
}

header h2 {
  color: var(--blueDark);
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0px;
}
.add {
    grid-area: money;
    position: relative;
    background-color: var(--light_grey);
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.add> figure> img {
    max-width: 85%;
    max-height: 35vh;
    box-shadow: 5px 5px var(--shadow);
    border-radius: 25px;
}

.add .adContent {
  font-size: 1rem;
  text-align: justify;
}
.tagline {
  font-weight: 600;
  font-size: 1.2rem;
}

.add .adDisclaimer {
  font-style: oblique;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

aside> header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--white);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

article{
  grid-area:article;
  position: relative;
}

.terms{
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
}

.banner {
    grid-area: banner;
}

.banner> section> figure{
  text-align: center;
}
.banner> section> figure> img {
    object-fit: contain;
    max-width: 80%;
    max-height: 50vh;
}

.section_content> figure>img {
  max-width: 35%;
  max-height: 30rh;
  border-radius: 15px;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--blue);
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
}


@media screen and (max-width: 600px) {
  .navMain a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navMain a.icon {
    float: right;
    display: block;
  }
  .section_content> figure>img{display: none;}
  
  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "nav nav"
      "header header"
      "acrticle article"
      "acrticle article"
      "money money"
      "footer footer"
  }
}

@media screen and (max-width: 600px) {
  .navMain.responsive {position: relative;}
  .navMain.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navMain.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navMain.responsive .dropdown {float: none;}
  .navMain.responsive .dropdown-content {position: relative;}
  .navMain.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

