*{
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: auto;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.expand {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color:darkgray;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    /*white-space: pre-line;*/
    overflow: auto;
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0px;
}
.panel.active {
    flex: 5;
    opacity: 0.7;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 1s ease-in 1s;
}
.panel > img {
    width: 50%;
    border-radius: 100%;
}
#bob {
    color: black;
}
#red {
    color: red;
}
#harry {
    color: white;
}