body{
    margin: 0;
    height:100vh;
    background-image: url("./img/photo.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color:white;
    overflow:hidden;
}
.title{
    margin: 0;
    padding: auto;
}

.header{
    height:3rem;
    background-color: rgba(70,70,70,.66);
    width: 100%;
    position: fixed;
    display: flex;
    /* z-index: 2; */
    
}

.text-center{
    text-align: center;
}

.flex-grid{
    display: flex;
}

.wrap{
    flex-wrap:wrap;
}

.main{
    height:100%;
}

.aside{
    top:0;
    height:100%;
    max-width: 300px;
    min-width: 256px;
    background-color: rgba(0,0,0, .66);
    z-index: -1;
    margin: 0;
    padding-top:3rem;
    flex: 1
}

.content{
    /* display:flex; */
    padding-top:3rem;
    overflow:auto;
}

.description{
    width:100px;
    height:80px; 
    flex:1;
    justify-content:center;
}

.card{
    margin:1rem;
    padding-bottom: 50px;
    background-color: rgba(62,62,62,.7);
    width: 344px;
    height:30%;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card:focus{
    filter:contrast(80%);
    outline: none;
}

.card-media{
    min-width:100%;
    height:220px;
    object-fit: none;
    border-radius: 5px 5px 0 0;
}

.card-content{
    margin:1rem;
}

.card-details{
    display:none;
    height:200px;
    overflow: auto;
}

.card-btn{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #444175;
    border-radius: 0 0 5px 5px;
    height: 50px;
}

.card-btn > button{
    margin:.5rem;
    border:none;
    border-radius: 5px;
    background:none;
    color:#a3b8ff ;
    font-size: 16px;
    min-width: 80px;
    height: 30px;
}

.card-btn > button:hover{
    background-color: rgba(255,255,255, .1);
    cursor: pointer;
}

.card-btn > button:active{
    background-color: rgba(255,255,255, .2);
}
