@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.topnav {
    width: 50%;
    margin: 0 auto;
  }
body{
    font-family: 'Barlow', sans-serif;
}
.page{
  /* background-color:darkgray; */
  padding: 10px;
  margin-bottom: 20px;
  padding:20px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: lightgray;
}

/* Navigation */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.warning {
  color:#dc3545;
}
