:root {
    --black: #324A51;
    --hover: #00A7D7;
    --blue: #2BADC7;
    --blueDark: #007891;
    --shadow: rgba(50,74,81, 0.5);
    --link: #3CD5B7;
    --white: #E6F4F1;
    --focus: #3CD5B7;
    --grey: #f5f5f5;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
  
  body {
    font-family: 'Barlow', sans-serif;
    color: var(--black);
    margin: 0;
    height: 100%;
  }
  main {
    padding-left:16px;
  }
/* Hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
  /* Navigation */

  .nav {
    overflow: hidden;
    background-color:var(--black);
  }
  
  .nav a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: var(--focus);
    color: var(--black);
  }
  
  .nav a.active {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .nav .icon {
    display: none;
  }

/* Hero */
.hero {
    /* Photo by Polina Kovaleva from Pexels */
    background: url('https://images.pexels.com/photos/5546907/pexels-photo-5546907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
    background-size: cover;
    padding: 4rem 2rem;
    color: var(--white);
  
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
.hero a{
  color:white;
  font-size: 0.8rem;
}

.hero a:hover {
  color: var(--hover);
}
/* Cards */
.card {
    border-radius: 25px;
    box-shadow: 5px 5px var(--shadow);
    margin-bottom: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.card a {
  font-weight: 600;
  color: inherit;
}
.card a:hover {
  color: var(--link);
}
.card figure > figcaption {
    width: 100%;
}


.card figure> img {
  border-radius: 10px;
  max-width: 68%;
  max-height: 40vh;
  box-shadow: 5px 5px var(--shadow);
}

.card figure> h2 {
  padding-top: 5px;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
}

/* Grid setup */
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;    
    background-color: var(--grey);
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 10px;
  }
  
  .grid-item {    
    text-align: center;
  }



  /* Media Queries */

  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }    
  }
  
  @media screen and (max-width: 1000px) {
    .grid-container {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
    }
    .grid-item{
      padding: 2px;
    }
  }