:root {
    --black: #324A51;
    --hover: #00A7D7;
    --blue: #2BADC7;
    --blueDark: #007891;
    --shadow: rgba(50,74,81, 0.5);
    --link: #3CD5B7;
    --white: #E6F4F1;
    --focus: #3CD5B7;
    --grey: #f5f5f5;
  }

.title {
    text-align: center;
  }

/* Cards */
.card {
    border-radius: 25px;
    box-shadow: 5px 5px var(--shadow);
    margin-bottom: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .card a {
    font-weight: 600;
    color: inherit;
  }
  
  .card a:hover {
    color: var(--link);
  }
  
  .card figure>figcaption {
    width: 100%;
  }
  
  
  .card figure>img {
    border-radius: 10px;
    max-width: 50%;
    max-height: 40vh;
    box-shadow: 5px 5px var(--shadow);
  }
  
  .card figure>h2 {
    padding-top: 5px;
    font-size: 1.2rem;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: var(--grey);
    background-color: var(--hover);
    text-align: center;
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: var(--blueDark);
  }
  
  /* Transition Effects */
  /*
  .fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}
 */ 
  /* Grid setup */
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    /* background-color: var(--grey); */
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 10px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  
  
  /* Media Queries */
  
  @media screen and (max-width: 1200px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
    .grid-container {
      grid-template-columns: auto;
    }
  }
  