/* Cards */
.card {
  border-radius: 25px;
  box-shadow: 5px 5px var(--shadow);
  margin-bottom: 10px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.card a {
  font-weight: 600;
  color: inherit;
}

.card a:hover {
  color: var(--link);
}

.card figure>figcaption {
  width: 100%;
}


.card figure>img {
  border-radius: 10px;
  max-width: 68%;
  max-height: 40vh;
  box-shadow: 5px 5px var(--shadow);
}

.card figure>h2 {
  padding-top: 5px;
  font-size: 1.2rem;
}


/* Grid setup */
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: var(--grey); */
  padding-right: 7.5%;
  padding-left: 7.5%;
  padding-bottom: 10px;
}

.grid-item {
  text-align: center;
}



/* Media Queries */

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
  .grid-container {
    grid-template-columns: auto;
  }
}