
/* Caption text */
/* .text {
  color: var(--black);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color:  var(--black);;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

.carousel-container{
  margin-top:5%;
  box-sizing: border-box;
  width: 630px;
  
}

.carousel{
  max-width: 100%;
  max-height: 100%;
}

/* The dots/bullets/indicators */
.dot-container{
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
  
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* mobile */
@media only screen and (max-width: 1279px) {
  .carousel-container{
    margin:10px auto;
    width: 96%;
  }
}
