:root {
    --black: #324A51;
    --hover: #00A7D7;
    --blue: #2BADC7;
    --blueDark: #007891;
    --shadow: rgba(50,74,81, 0.5);
    --link: #3CD5B7;
    --white: #E6F4F1;
    --focus: #3CD5B7;
    --grey: #f5f5f5;
  }

h2, h3 {
    text-align: center;
}



/* Grid setup */
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr;
    /*grid-template-areas: 'form';*/    
    /*background-color: var(--grey);*/
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  
  .grid-item {    
    text-align: left;
    /*grid-area: 'form';*/
    border-radius: 25px;
    box-shadow: 5px 5px var(--shadow);
    margin-bottom: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    max-width: 100%;
  }

  label, input, textarea, select {
      /*display: inline-block;*/
      width: 100%;
      padding: 12px;
      resize: vertical;
      display: inline-block;
      border-radius: 4px;
      box-sizing: border-box;
  }

  label {
      padding: 12px 12px 12px 0;
      display: inline-block;
  }

  .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
  }

  .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
  }

  .row::after {
      content: "";
      display: table;
      clear: both;
  }

  input[type=submit] {
      background-color: var(--hover);
      color: var(--grey);
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      width: unset;
  }

   /* Transition Effects */
.fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}

  /* Media Queries */

  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }