 .qa{
  padding-left: 5%;
  margin-left: 5%;
  max-width: 30%;
  float:left;
}
 .q{
  font-weight: bold;
}
 .faq-body{
  max-width: 75%;
  margin-right: auto;
  margin-left: 10%;
}
  details{
  border-radius: 15px;
  border: 2px solid #00a8d7;
  padding: 15px;
  width: auto;
  height: auto;
  background-color: #effcff;
  margin: 2%;
  }
#imgthink{
  max-width: 75%;
  border-radius: 15px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}
#divthink{
  vertical-align:top;
  padding: 5%;
  padding-top: 0%;
  padding-left: 10%;
}

   /* Transition Effects */
   .fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}

@media screen and (max-width: 1279px) and (min-width: 750px) {
  .qa{
    padding-left: 5%;
    margin-left: 5%;
    max-width: 50%;
    float:left;
}
#imgthink{
  max-width: 90%;
  border-radius: 15px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}
#divthink{
  max-width: 50%;
}
}
@media screen and (max-width: 749px) {
  .faq-body {
    justify-content: space-around;
  }

  .qa{
  padding-left: 5%;
  margin-left: 5%;
  max-width: 100%;
  float:left;
}
#imgthink{
  max-width: 100%;
}
#divthink{
  display: none
}
}