.features-container {
  justify-content: space-between;
  margin-left: -10px;
}

.feature-card {
  background-color: #ffffff99;
  display: block;
  flex: 0 0 auto;
  border: 1px solid #00000010;
  border-radius: 8px;
  text-align: center;
}

.feature-card img {
  height: 100px;
  margin: auto;
}

.feature-card h3 {
  text-align: left;
}

.feature-card > p {
  margin-bottom: 50px;
  text-align: left;
}

.feature-card a {
  text-decoration: none;
  justify-content: flex-end;
  display: flex;
}

.feature-card a > p {
  font-weight: bold;
  color: var(--blueDark);
}

.feature-card a > p:hover {
  /* font-size: 1.2rem; */
  color: var(--blueDarker);
}

.feature-card a > img {
  margin: auto 10px;
  height: 1.7rem;
}

.text-container h1 {
  padding-top: 1rem;
}

@media screen and (min-width: 1280px) {
  .features-container {
    justify-content: space-around;
  }

  .feature-card {
    max-width: 26%;
    margin: 50px 0 100px 0;
    padding: 1.4rem;
    height: 500px;
  }

  .feature-card h3 {
    font-size: 2rem;
  }

  .feature-card p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
  .features-container {
    flex-wrap: wrap;
    /* min-width: 140%; */
    /* margin-left: -20%; */
  }

  .feature-card {
    margin: 10px auto;
    max-width: 280px;
    height: 400px;
    padding: 0.5rem;
  }

  .feature-card h3 {
    font-size: 1.5rem;
  }

  .feature-card p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .features-container {
    flex-wrap: wrap;
    margin: 0 10px;
  }
  .feature-card {
    max-width: 320px;
    margin: 20px auto;
    padding: 20px;
  }
  .feature-card h3 {
    font-size: 1.5rem;
  }

  .feature-card p {
    font-size: 1rem;
  }
}
