:root {
  --black: #324a51;
  --hover: #00a8d7;
  --blue: #2badc7;
  --bluelight: #72c8da;
  --bluelighter: #aadee9;
  --bluelightest: #eaf7fa;
  --blueDark: #007891;
  --blueDarker: #004f5f;
  --shadow: rgba(50, 74, 81, 0.5);
  --link: #3cd5b7;
  --white: #e6f4f1;
  --focus: #3cd5b7;
  --grey: #f5f5f5;
}

/* ---------------- Global styles ----------------*/
.backtop-btn {
  position: fixed;
  bottom: 90px;
  right: 90px;
}

.backtop-btn button {
  text-align: center;
  background-color: #324a51;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50px;
  font-size: 3rem;
  padding: auto;
}

.btn-primary {
  box-shadow: 0 2px 4px 0 rgb(50, 74, 81, 0.8);
  background-color: var(--hover);
  color: var(--white);
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}

.inline {
  margin: 10px 0 !important;
}

.features-section {
  background-color: var(--bluelightest);
  padding-top: 85px;
}

.features-section .text-container p {
  font-size: 1.2rem;
  width: 65%;
  margin-bottom: 20px;
}

.features-section h1 {
  margin: -8px 0 0 0;
}

.personas-section {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(0, 79, 95);
  background: linear-gradient(
    0deg,
    rgba(0, 43, 51, 0.9) 67%,
    rgba(234, 247, 250, 1) 67%
  );
  max-height: 70vh;
}

.personas-section h1 {
  margin-top: 0;
}

.persona-card img {
  position: relative;
  width: 40%;
  border-radius: 100px;
}

.persona-container {
  justify-content: space-between;
  overflow: hidden;
}

.persona-content p {
  text-align: left;
  margin: auto 15px 15px 15px;
}
.values {
  margin: 0;
}

.values > li {
  margin: 5px;
  text-align: left;
}
/* ----------------Responsive styles ----------------*/
/* desktop */
@media screen and (min-width: 1280px) {
  .heading-section {
    flex-wrap: nowrap;
  }

  .heading-section .text-block-heading h1 {
    font-size: 3.4rem;
  }

  .heading-section .text-block-heading {
    padding-top: 30px;
    display: block;
    text-align: left;
    max-width: 35%;
    flex-grow: 1;
  }

  .btn-primary {
    margin-top: 50px;
  }

  .wave-container svg {
    margin-top: -17%;
    position: absolute;
    z-index: -1;
  }

  .persona-card {
    margin: 40px auto 90px auto;
    width: 15vw;
    height: 20vw;
    background-color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    flex-direction: row;
    padding: 10px;
    box-shadow: 1px 1px 10px #3333;
  }

  .profile-holder {
    position: relative;
    min-height: 125px;
  }
}

/* tablet */
@media screen and (max-width: 1279px) and (min-width: 750px) {
  .text-block-heading h1 {
    font-size: 3rem;
  }

  .features-section .text-container p {
    width: 100%;
  }

  .btn-primary {
    margin: 10px 0;
  }

  /* waves~~~~ */
  .wave-container svg {
    margin-top: -17%;
    position: absolute;
    z-index: -1;
  }

  .persona-card {
    margin: 40px auto 90px auto;
    width: 20vw;
    height: 500px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    flex-direction: row;
    padding: 10px 15px;
    box-shadow: 1px 1px 10px #3333;
  }

  .persona-card img {
    position: relative;
    width: 40%;
    border-radius: 50px;
  }
}

/* mobile */
@media screen and (max-width: 749px) {
  .heading-section {
    display: block;
  }

  .text-block-heading {
    min-width: 90%;
    margin: 10px;
  }

  .text-block-heading h1 {
    font-size: 2.8rem;
  }

  .text-block-heading h3 {
    font-size: 1rem;
  }

  .btn-primary {
    word-spacing: 0.3rem;
    border-radius: 3px;
    display: block;
    margin: 0px auto;
    width: 100%;
    padding: 1rem;
  }

  .wave-container {
    background: linear-gradient(180deg, transparent 50%, #eaf7fa 20%);
  }

  .wave-container svg {
    margin-top: -400px;
    position: absolute;
    z-index: -1;
    display: none;
  }

  .features-section .text-container {
    padding: 10px;
  }
  .features-section .text-container p {
    font-size: 1rem;
    width: 100%;
  }

  .personas-section {
    max-height: none;
  }

  .persona-card {
    margin: 40px auto 90px auto;
    width: 76vw;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px;
    box-shadow: 1px 1px 10px #3333;
  }

  .persona-card img {
    position: relative;
    width: 40%;
  }

  .persona-card ul {
    padding: 0 auto;
  }

  .personas-section h1 {
    padding: 10px;
  }
}
