:root {
  --black: #324a51;
  --hover: #00a8d7;
  --blue: #2badc7;
  --bluelight: #72c8da;
  --bluelighter: #aadee9;
  --bluelightest: #eaf7fa;
  --blueDark: #007891;
  --blueDarker: #004f5f;
  --shadow: rgba(50, 74, 81, 0.5);
  --link: #3cd5b7;
  --white: #e6f4f1;
  --focus: #3cd5b7;
  --grey: #f5f5f5;
}

.logo {
  display: inline-block;
}

.logo img {
  max-height: 70px;
  /* padding-top: 0px; */
}

.nav-link {
  top: 10px;
  float: left;
  color: var(--black);
  text-align: center;
  padding: 8px;
  margin: auto 5px;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  height: 30px;
}

/* desktop */
@media screen and (min-width: 1200px) {
  .header {
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
  }

  a.current {
    font-weight: bold;
    border-bottom: 0.3rem solid var(--hover);
  }

  a:hover {
    color: rgba(50, 74, 81, 0.8);
  }

  a:active {
    color: rgba(50, 74, 81, 0.7);
  }

  .nav-link {
    margin: 0, 2;
  }

  .nav-group {
    display: inline-block;
    padding: auto;
    display: block;
    align-items: center;
  }

  .nav-link:hover {
    border-bottom: 0.3rem solid var(--hover);
  }

  .hamburger-btn {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .header {
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
  }

  a.current {
    font-weight: bold;
    border-bottom: 0.3rem solid var(--hover);
  }

  a:hover {
    color: rgba(50, 74, 81, 0.8);
  }

  a:active {
    color: rgba(50, 74, 81, 0.7);
  }

  .nav-link {
    margin: 0, 2;
  }

  .nav-group {
    display: inline-block;
    padding: auto;
    display: block;
    align-items: center;
  }

  .nav-link:hover {
    border-bottom: 0.3rem solid var(--hover);
  }

  .hamburger-btn {
    display: none;
  }
}

/* mobile break point */
@media screen and (max-width: 749px) {
  .nav-link {
    width: 100%;
    /* float: center; */
    display: block;
    border: 0px none;
    text-align: left;
    margin: 10px auto;
    font-size: 2rem;
  }

  .nav-group {
    display: none;
    position: fixed;
    top: 0%;
    background-color: #f5f5f5f5;
    z-index: 50;
    width: 65vw;
    height: 100vh;
    right: 0;
    padding: 50px 0 0 10px;
  }

  .hamburger-btn {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
  }

  .header {
    overflow: hidden;
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid #ddd;
  }
}
