

.card{
    margin:1rem;
    padding-bottom: 50px;
    background-color: rgba(62,62,62,.7);
    width: 344px;
    height:30%;
    border-radius: 5px;
}

.card:focus{
    filter:contrast(80%);
    outline: none;
}

.card-media{
    min-width:100%;
    height:220px;
    object-fit: none;
    border-radius: 50px;
}

.card-content{
    margin:1rem;
}

.card-details{
    display:none;
    height:200px;
    overflow: auto;
}

.card-btn{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #444175;
    border-radius: 0 0 5px 5px;
    height: 50px;
}

.card-btn > button{
    margin:.5rem;
    border:none;
    border-radius: 5px;
    background:none;
    color:#a3b8ff ;
    font-size: 16px;
    min-width: 80px;
    height: 30px;
}

.card-btn > button:hover{
    background-color: rgba(255,255,255, .1);
    cursor: pointer;
}

.card-btn > button:active{
    background-color: rgba(255,255,255, .2);
}
