.hero {
    text-align: center;
    padding: 25px 15vw 75px 15vw;
    background-color: var(--darkblue);
    color: var(--black);
    max-height: 75vh;
}

.hero h2{
    font-size: 60px;
}

.hero-img {
    opacity: .8;
    object-fit: contain;
    box-shadow: 5px 5px 5px var(--shadow);  
}

.feature {
    display:inline-flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--grey);
}
.feature img {
    box-shadow: 5px 5px 5px var(--shadow); 
}
.feature h5 {
    font-size: 50px;
}
.secondary {
    background-color: white;
    margin: auto;
}

.rdetails {
    margin: auto;
    /* padding-left: 15%; */
    align-items: flex-end;
}
.rdetails h5, p {
    padding-right: 15px;
    text-align: center;
}
.ldetails {
    margin: auto;
    padding-left: 15%;
}

.ldetails p {
    max-width: 80%;
}
.highlight {
    font-size: 35px;
    max-width: 75%;
}
.left {
    width: 50%;
}
.right {
   width: 50%;  
   text-align: right; 
}

.rimage  {
    margin-right: 15%;
}

.overview {
    text-align: center;
    padding: 15px;
}
.overview h5 {
    font-size: 30px;
}
.overview p{
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

/* Styling for scroll */
body * {
     overflow: visible;
  }

.fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}

.from-right{
    transform: translateX(100%);
    ;
}

.from-left{
    transform:translateX(-100%);
}

.from-left,
.from-right{
    opacity: 0;
    transition: opacity 250ms ease-in,
    transform 600ms ease-in
}

.from-right.appear,
.from-left.appear{
    opacity: 1;
    transform: translateX(0);
}


/* tablet */
@media screen and (max-width: 1279px) and (min-width: 750px) {
    body {        
     overflow-x: hidden
    }
    .hero {
        text-align: center;
        margin-bottom: 5px;
        min-width: 75vw;
    }    
    .hero h2{
        font-size: 2em;
    }
    .hero p{
        font-size: 1em;
    }    
    .hero-img {
        padding: none;
        height: auto;         
        max-width: 750px;
    }
    .hero-img img {        
        max-width: 95%;
    }
    .feature {
        display:inline-block;
    }
    .feature img {
        width: 95%;
    }
    .feature h5{
        font-size: 2em;
    }
    .feature p {
        padding-bottom: 5px;
        margin: auto;
        text-align: center;
        font-size: 1.5em;
    }
    .left {
        width: 100%;
        align-items: center;
        padding: 15px;
        text-align: center;
    }
    .left p, h5 {
        text-align: center;
    }
    .right {
        min-width: 75vw;
    }
    .right>figure{
        width: 100%;
    }
    .right>figure> img{
        width: 95%;
        height: auto;
    }
    .rdetails h5, p {
        text-align: center;
        font-size: 3em;
    }
    .highlight {
        font-style: oblique;
    }
    .overview h3{
        font-size: 2.5em;
    }
    .overview p{
        font-size: 1.5em;
        margin: 5%;
    }
    footer> h5, p{
        font-size: 1.5em;
    }
}

/* mobile */
@media screen and (max-width: 749px) {
    body {        
        overflow-x: hidden
       }
       .hero {
           text-align: center;
           margin-bottom: 5px;
           min-width: 75vw;
       }    
       .hero h2{
           font-size: 2em;
       }
       .hero p{
           font-size: 1em;
       }    
       .hero> figure {
           width: 100%;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
       }
       .hero-img {
           padding: 0 0 0 0;
           margin: 0 0 0 0;
           height: auto;         
           max-width: 100%;
       }
       .hero-img img {        
           max-width: 75%;
           padding: 0 0 0 0;
       }
       .feature {
           display:inline-block;
           padding: 0 0 0 0;
           margin: 0 0 0 0;
       }
       .feature img {
           width: 95%;
       }
       .feature h5{
           font-size: 2em;
       }
       .feature p {
           padding-bottom: 5px;
           margin: auto;
           text-align: center;
           font-size: 1em;
       }
       .left {
           width: 100%;
           align-items: center;
           padding: 15px;
           text-align: center;
       }
       .left p, h5 {
           text-align: center;
       }
       .right {
           min-width: 75vw;
       }
       .right>figure{
           width: 100%;
       }
       .right>figure> img{
           width: 95%;
           height: auto;
       }
       .rdetails {
        padding: 0 0 0 5px;
        margin: 0 0 0 0;
        width: auto;
       }
       .rdetails h5, p {
           text-align: center;
           font-size: 2em;
           align-items: center;
       }
       .details> figure  {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        width: 95%;
       }
       .rdetails>figure>img {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        max-width: 80%;
        align-items: inherit;
       }
       .highlight {
           font-style: oblique;
       }
       .overview h3{
           font-size: 1.5em;
       }
       .overview p{
           font-size: 1em;
           margin: 5%;
       }
       footer> h5, p{
           font-size: 1em;
       }
}

