:root {
  --black: #324a51;
  --hover: #00a8d7;
  --blue: #2badc7;
  --bluelight: #72c8da;
  --bluelighter: #aadee9;
  --bluelightest: #eaf7fa;
  --blueDark: #007891;
  --blueDarker: #004f5f;
  --blueDarkest: #002127;
  --shadow: rgba(50, 74, 81, 0.5);
  --link: #3cd5b7;
  --white: #e6f4f1;
  --focus: #3cd5b7;
  --grey: #f5f5f5;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap");

/* Hide scrollbar */
html {
  overflow-y: overlay;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  color: var(--black);
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body * {
  overflow: hidden;
}

*::selection {
  background-color: var(--hover);
  color: rgb(255, 255, 255);
}

/* FOOTER */
footer {
  margin-top: auto;
  background-color: #f1f1f1;
  padding: 10px 10px;
  text-align: center;
}

footer img {
  max-height: 30px;
}

footer h5 {
  font-size: medium;
}

footer img:hover {
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 66.6%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 66.6%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .no-wrap {
    flex-wrap: nowrap !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #dad8d8;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
    border-radius: 5px;
  }
}

/* Tablet breakpoint */
@media screen and (max-width: 1279px) and (min-width: 750px) {
  /* the container and wrapper place content in the middle of screen responsibily, the width is calculated by screen-width/12*8 */

  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 91.6%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 91.6%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .no-wrap {
    flex-wrap: nowrap !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #dad8d8;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
    border-radius: 5px;
  }
}

/* Mobile break point */
@media screen and (max-width: 749px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
  }

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
  }

  .grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
  }

  .grid-item {
    padding: 2px;
  }

  /* Which component is this .nav referring to? */
  .nav.responsive {
    position: relative;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}