﻿

:root {
    --light:rgba(247, 247, 247, 0.79);
    --blue:#5bc0de;
    --red: #dc3545;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.navbar {
    background-color: var(--blue);
}
body {
    background-image: url("../media/celebration.png");
    /* Image from 
    https://www.pexels.com/photo/people-throwing-pins-433452/ */
    margin-bottom:100px;
}

.container {
    background-color: var(--light);
}

.countdown {
    color:var(--light);
    font-size: large;
}

.quote {
    font-family: 'Redressed', cursive;
    font-size: 20px;
}

.policy {
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* margin-top: 50px; */
    padding-top: 5px;
    background-color: var(--blue);
    color: white;
    text-align: center;
}

.listHover:hover {
    background-color: var(--blue);
}

.phonevalid , .agevalid{
    color:var(--red); 
    font-size: smaller;
}