.form-group {
    margin: 1rem
}

body {
    border: solid 4vh rgb(0, 0, 0);
    min-height: 100vh;
    background-color: #DFDBE5;
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23606060' fill-opacity='0.17'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.form-container {
    width: 50vw;
    margin: auto;
    padding: 8rem;
}

@media only screen and (max-width:1200px) {
    .form-container {
        width: auto;
        margin: 0;
        padding: 0 ;
        /* padding-right: auto;
        padding-bottom: 5%;
        padding-left: auto;  */
    }

}

/* @media  screen and (min-width:1201px) {
    form {
        
    }
} */

.btn:active {
    box-shadow: 2px 2px 0 #000 inset, -2px -2px 0 #000 inset;
}

h1 {
    text-align: center;
}

.alert{
    color: #f00;
}