:root {
    --light:rgba(247, 247, 247, 0.79);
    --blue:#5bc0de;
    --red: #dc3545;
    --darkBlue: #34a4eb;
}


/* Style the navigation bar */
.navheader {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* navheader links */
.navheader a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* navheader links on mouse-over */
.navheader a:hover {
  background-color: var(--blue);
  color: black;
}

/* Current/active navheader link */
.active {
  background-color: var(--darkBlue);
}

.div-link {
  position:absolute; 
  bottom:5px;          
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  text-align: center;
}


.container {
  background-color: var(--light);
}
/* Add responsiveness - will automatically display the navheader vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navheader a {
    float: none;
    display: block;
  }
}
