/*
CSS level 3 + null
*/

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');


:root {
    font-family: 'Archivo', monospace;
    background-color: #DCE6EB;
}

.grid-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas: 
    "main main main main"
    "nav nav nav nav"
    "blog1 blog1 blog2 blog2"
    "blog1 blog1 blog2 blog2"
    "footer footer footer footer";
    grid-gap: .2rem;
}

main {
    /*background: #a7ffeb;*/
    grid-area: main;
    background-image: url(/img/sky2.jpeg);
}

main > img {
    display: block;
    margin-left: 5%;
    margin-top: 100px;
}

nav {
    grid-area: nav;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #8DB6CA;
    /*position: fixed;
    top: 0;*/
    width: 100%;
}

li {
    float: left;
    font-family: 'Archivo', monospace;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #BE4324;
}

.active {
    background-color: #BE4324;
}

.about {
    /*background: #18ffff;*/
    grid-area: blog2;
    text-align: left;
    margin: 2px;
}

.about > h2 {
    text-align: center;
}

.about > h3 {
    text-align: center;
}

.about > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.blog1 {
    /*background: #6fffd2;*/
    grid-area: blog1;
    margin-right: 10px;
}

.blog1 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.blog1 > h1 {
    text-align: center;
}

.blog1 > h2 {
    text-align: center;
}

.blog1 > h3 {
    text-align: center;
}

.blog1 > p {
    text-align: left;
}

footer {
    /*background: #1de9b6;*/
    grid-area: footer;
    text-align: center;
}

footer > img {
    object-fit: cover;
    width: auto;
    max-height: 100%;
}

@media only screen and (max-width:600px) {
    .grid-container {
        /*grid-template-areas: 1fr;*/
        grid-template-rows: 1fr 0.2fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "main"
        "nav"
        "blog1"
        "blog2"
        "footer";
    }
}