.container {
  margin:0 auto;
  }

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 5%;
    text-align: center;
    float: left;
    padding: 1%;
}
.card_body{
    text-align: left;
}

.portrait{
  max-width: 55%;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}