.flip-card {
    background-color: transparent;
    height: 75vh;
    margin: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: var(--blue);
    color: white;
    transform: rotateY(180deg);
    overflow: auto;
    padding-right: 10px;  
  }
  .flip-card-back ul {    
    list-style: none;
  }

  @media screen and (max-width: 750px) {
    .flip-card {
      background-color: transparent;
      max-height: 75vh;
    }
  }