:root {
    --light:rgba(247, 247, 247, 0.79);
    --blue:#5bc0de;
    --red: #dc3545;
    --darkBlue: #34a4eb;
    --black: #324A51;
    --focus: #3CD5B7;
}


/* Hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}

 /* Navigation */

 .navheader {
  overflow: hidden;
  background-color:var(--black);
}

.navheader a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navheader a:hover {
  background-color: var(--focus);
  color: var(--black);
}

.navheader a.active {
  background-color: var(--blue);
  color: var(--white);
}

.navheader .icon {
  display: none;
}

.active {
  background-color: var(--darkBlue);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  text-align: center;
}

/* Grid setup */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr auto ;
  grid-template-areas: 
  "title title"
  "card-left card-right";
  grid-gap: 0.2rem;
  align-items: center;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.card-left {
  grid-area: card-left;
  align-items: center;
}
.card-right {
  grid-area: card-right;
  align-items: center;
}
.title {
  grid-area: title;
  align-items: center;
  text-align: center;
}


@media screen and (max-width: 600px) {
  .navheader a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "title"
      "card-left"
      "card-right";    
    margin-left: 0;
    margin-right: 0;
}
  }
}


@media screen and (max-width: 600px) {
  .navheader a:not(:first-child) {display: none;}
  .navheader a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navheader.responsive {position: relative;}
  .navheader.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navheader.responsive a {
    float: none;
    display: block;
    text-align: left;
  }    
}
